.box_of_inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.input_from_group{
    display: block;
    margin: 1vw 5vw;
    width: 20vw;
    height: 5vw;
    border-radius: 5px;
    border: none;
    background-color: #E0E0E0;
    text-align: center;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
    transition:  box-shadow .2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
.input_from_group:hover{
    border: 5px solid #26EDD5;
    box-shadow: none;
}
.group_input_button{
    display: block;
    width: 10vw;
    height: 4vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    color: white;
    border-radius: 5px;
    background-color: rgba(6, 78, 109, .8);
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
}
.group_input_button:hover{
    border: 3px solid #D4D4D4;
}
.title_of_input{
    color: whitesmoke;
    font-size: 2vh;
    text-shadow: 3px 3px 2px #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}